doctype5
html(lang='es-PE')
	head
		meta(charset='utf-8')
		//css
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')

	body
		.navbar
			.navbar-inner
				.container
				a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collaps')
					span.icon-bar Inicio
					span.icon-bar Catalogo
					span.icon-bar Cotizacion
				a.nav-collaps
					
		.div-cuerpo


